@using Hackathon.Feature.TeamRegistration.Models.ViewModel;
@using Sitecore.Mvc.Presentation
@using Sitecore.Mvc
@using System.Collections.Generic;
@model EventViewModel

<div id="event-details">
        <h1>@Model.Event.Name</h1>
        <p>@Model.Event.Description</p>

        @if (!Model.TopicReady)
        {
            <p>Topics will be released on @Model.Event.TopicReleaseDate</p>
        } else
        {
            <p>The topic is:@Model.Event.Topics</p>
        }

        @foreach (var hash in Model.Event.Hashtags)
        {
            var url = "https://twitter.com/search?q=" + hash.Replace("#", "%23");
            <span><a target="_blank" style="color:white;" href="@url">@hash</a> </span>
        }

</div>