@using Hackathon.Feature.TeamRegistration.Models;
@using Sitecore.Mvc.Presentation
@using Sitecore.Mvc
@using System.Collections.Generic;
@model List<Team>

<section class="page-section bg-primary" id="teams">
    <div class="container">
        <h2>Teams</h2>
        @foreach (var team in Model)
        {
            <h3>@team.TeamName</h3>
            <p>@team.Slogan</p>
            <p></p>
            <p>Code: <a style="color: yellow;" href="@team.RepositoryUrl" target="_blank">@team.RepositoryName</a></p>
            <div>
                <h4>Team members:</h4>
                <ul>
                    @foreach (var member in team.Members)
                    {

                        <li>@member.Name (<a style="color: yellow; font-size: 12px;" href="@member.Github">github</a>, <a style="color: yellow; font-size: 12px;" href="@member.Twitter">twitter</a>)</li>
                    }
                </ul>
            </div>
        }
    </div>
</section>
